body {
    background-color: whitesmoke;
}

.h1, h1 {
    font-size: 35px;
    text-transform: uppercase;
}

hr {
    border: solid black 1px;
    width: 15%;
}

#background {
    background-image: url(../img/bank.jpg);
    height: 60vh;
    background-size: 100%;
    background-position: bottom;
}