body {
    background-image: url(../img/bank.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.form{
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.h1, h1 {
    font-size: 35px;
    text-transform: uppercase;
}

hr {
    border: solid black 1px;
    width: 15%;
}

.bigLink_container{
    top: 30vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.bigLink{
    display: block;
    width: 40vw;
    height: 40vh;
    background-color: #000000AA;
    border-radius:10px;
    color: white;
}
#scroll {
    max-height: 70% !important;
    overflow-y: auto;
}
